<ion-view view-title="Home">
  <ion-content class="has-header">
    <div ng-if="readyForMap" id="map_div" style="width: 100%; height: 100vh">
      <!-- <ion-spinner></ion-spinner> -->
    </div>
  </ion-content>


<style>
.popover {
  width: 200px;
  height: 150px;
}
</style>

  <script id="home-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-header-bar>
        <h1 class="title">{{pointData.country}}</h1>
      </ion-header-bar>
      <ion-content>

        <div class="row">
          <div class="col col-60"><strong>UFOs Found:</strong></div>
          <div class="col col-40">{{pointData.count}}</div>
        </div>

        <div class="row">
          <div class="col col-10"></div>
          <div class="col col-80">
            <a ng-click="closePopover()" ng-href="#/app/country/{{pointData.ctry_code}}" class="button button-full button-small button-assertive">Explore</a>
          </div>
          <div class="col col-10"></div>
        </div>

      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
