<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ui-sref="app.home" >
          Home
        </ion-item>
        <ion-item menu-close ui-sref="app.country({id:'us'})" >
          United States
        </ion-item>
        <ion-item menu-close ui-sref="app.country({id:'ca'})" >
          Canada
        </ion-item>
        <ion-item menu-close ui-sref="app.country({id:'gb'})" >
          United Kingdom
        </ion-item>
        <ion-item menu-close ui-sref="app.country({id:'de'})" >
          Germany
        </ion-item>
        <ion-item menu-close ui-sref="app.country({id:'au'})" >
          Australia
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
